In [9]:
import pandas as pd

df = pd.read_csv("../data/tmdb_10000.csv")
print("Shape:", df.shape)
df.head()

Shape: (10000, 9)

,id,original_language,original_title,overview,popularity,release_date,title,vote_average,vote_count
0,851644,ko,20세기 소녀,Yeon-du asks her best friend Bora to collect a...,170.540,2022-10-06,20th Century Girl,8.7,290
1,238,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",86.518,1972-03-14,The Godfather,8.7,16988
2,278,en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,84.681,1994-09-23,The Shawshank Redemption,8.7,22748
3,240,en,The Godfather Part II,In the continuing saga of the Corleone crime f...,44.957,1974-12-20,The Godfather Part II,8.6,10293
4,667257,es,Cosas imposibles,"Matilde is a woman who, after the death of her...",32.859,2021-06-17,Impossible Things,8.6,299

In [10]:
df.columns

Index(['id', 'original_language', 'original_title', 'overview', 'popularity',
       'release_date', 'title', 'vote_average', 'vote_count'],
      dtype='object')

In [11]:
df.isnull().sum()

id                   0
original_language    0
original_title       0
overview             6
popularity           0
release_date         0
title                0
vote_average         0
vote_count           0
dtype: int64

In [12]:
df = df.dropna(subset=["overview"])
df.reset_index(drop=True, inplace=True)

print("Rows after cleaning:", df.shape)

Rows after cleaning: (9994, 9)

In [13]:
df["text"] = (
    df["title"].fillna("") + " " +
    df["overview"].fillna("")
).str.lower()

df[["title", "text"]].head()

                      title                                               text
0         20th Century Girl  20th century girl yeon-du asks her best friend...
1             The Godfather  the godfather spanning the years 1945 to 1955,...
2  The Shawshank Redemption  the shawshank redemption framed in the 1940s f...
3     The Godfather Part II  the godfather part ii in the continuing saga o...
4         Impossible Things  impossible things matilde is a woman who, afte...

In [14]:
df_cleaned = df[
    [
        "id",
        "title",
        "overview",
        "text",
        "original_language",
        "popularity",
        "vote_average",
        "vote_count"
    ]
]

df_cleaned.head()

,id,title,overview,text,original_language,popularity,vote_average,vote_count
0,851644,20th Century Girl,Yeon-du asks her best friend Bora to collect a...,20th century girl yeon-du asks her best friend...,ko,170.540,8.7,290
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","the godfather spanning the years 1945 to 1955,...",en,86.518,8.7,16988
2,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,the shawshank redemption framed in the 1940s f...,en,84.681,8.7,22748
3,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,the godfather part ii in the continuing saga o...,en,44.957,8.6,10293
4,667257,Impossible Things,"Matilde is a woman who, after the death of her...","impossible things matilde is a woman who, afte...",es,32.859,8.6,299

In [15]:
df_cleaned.to_csv("../Data/movies_cleaned.csv", index=False)
print("movies_cleaned.csv saved successfully")

movies_cleaned.csv saved successfully