In [1]:
import pandas as pd

df = pd.read_csv("../data/movies_cleaned.csv")
print(df.shape)
df.head()

(9994, 8)

,id,title,overview,text,original_language,popularity,vote_average,vote_count
0,851644,20th Century Girl,Yeon-du asks her best friend Bora to collect a...,20th century girl yeon-du asks her best friend...,ko,170.540,8.7,290
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","the godfather spanning the years 1945 to 1955,...",en,86.518,8.7,16988
2,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,the shawshank redemption framed in the 1940s f...,en,84.681,8.7,22748
3,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,the godfather part ii in the continuing saga o...,en,44.957,8.6,10293
4,667257,Impossible Things,"Matilde is a woman who, after the death of her...","impossible things matilde is a woman who, afte...",es,32.859,8.6,299

In [2]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(
    stop_words="english",
    max_features=5000
)

In [3]:
movie_vectors = tfidf.fit_transform(df["text"])

movie_vectors.shape

(9994, 5000)

In [4]:
import pickle

with open("../data/tfidf_vectorizer.pkl", "wb") as f:
    pickle.dump(tfidf, f)

with open("../data/movie_vectors.pkl", "wb") as f:
    pickle.dump(movie_vectors, f)

print("Vectorization completed and saved")

Vectorization completed and saved

In [5]:
import os

print(os.path.getsize("../data/tfidf_vectorizer.pkl"))
print(os.path.getsize("../data/movie_vectors.pkl"))

183317
2397131